.accueil {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: url(/alex-shutin-kKvQJ6rK6S4-unsplash.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.accueil h1 {
  color: white;
  font-size: 4rem;
}

.btns {
  display: flex;
  justify-content: center;
  gap: 3rem;
}

.btn {
  /* box-shadow: 0 10px 10px lightgray; */
  background-color: rgb(0, 0, 0, 0.2);
  backdrop-filter: blur(50px);
  padding: 0.6rem 4rem;
  /* border: 0.4px solid lightgray; */
  border: none;
  border-radius: 50px;
  color: white;
  text-decoration: none;
  font-size: 1.4rem;
}

@media screen and (max-width: 700px) {
  .accueil h1 {
    font-size: 2rem;
    text-align: center;
  }

  .btn {
    box-shadow: 0 0 8px lightgray;
    padding: 0.4rem 2rem;
    border: 0.4px solid lightgray;
    border-radius: 50px;
    color: black;
    text-decoration: none;
    font-size: 1.4rem;
    white-space: nowrap;
  }

  .btns {
    gap: 1.5rem;
  }
}
