.accueil {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.accueil h1 {
  color: orangered;
  font-size: 4rem;
}

.btns {
  display: flex;
  justify-content: center;
  gap: 3rem;
}

.btn {
  box-shadow: 0 0 8px lightgray;
  padding: 0.6rem 4rem;
  border: 0.4px solid lightgray;
  border-radius: 50px;
  color: black;
  text-decoration: none;
  font-size: 1.4rem;
}
