.input_library {
  width: 20rem;
  padding: 0.6rem;
  font-size: 1.2rem;
}

.forms {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.btn {
  width: fit-content;
  background: #0f5b97;
  color: white;
}
