.input_library {
  width: 20rem;
  padding: 0.6rem;
  font-size: 1.2rem;
}

.library {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.library h2 {
  text-align: center;
  margin-bottom: 2rem;
  color: #0f5b97;
  text-decoration: underline;
  font-size: 2.5rem;
  font-weight: bold;
}

.books {
  /* display: flex;
  justify-content: space-between; */
}

.table {
  width: 100%;
}

.forms {
  /* display: grid;
  grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr)); */
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.btn {
  width: fit-content;
  background: #0f5b97;
  color: white;
}

.table_container {
  display: flex;
  justify-content: center;
}

.table_title th {
  background: #0f5b97;
  color: white;
  padding: 1rem;
  white-space: nowrap;
  text-decoration: underline;
}

.table_content {
  text-align: center;
}

.table_content td {
  padding: 0.3rem;
  color: rgb(38, 38, 38);
}

.btn_update {
  border: none;
  background: none;
  color: white;
  padding: 0.5rem;
  border-radius: 5px;
}

.table_content:nth-child(even) {
  background: rgb(232, 232, 232);
}

.edit {
  font-size: 1.2rem;
  background: rgb(15, 109, 15);
}

.delete {
  background: rgb(193, 38, 38);
  font-size: 1.2rem;
}

.btn_container {
  display: flex;
  flex-direction: row;
  gap: 0.6rem;
  align-items: center;
  justify-content: center;
}
