.navbar {
  width: 20rem;
  left: 0;
  top: 0;
  right: 0;
  height: 100vh;
  position: fixed;
  background: #0f5b97;
  border-radius: 0 20px 20px 0;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0 0 20px black;
}

.title {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.nav-container {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.navbar h2 {
  color: whitesmoke;
}

.navlinks {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.active {
  background: rgba(255, 255, 255, 0.922);
  padding: 0.6rem;
  margin-left: 0.6rem;
  border-radius: 0 50px 50px 0px;
  transition: margin-left;
  transition-duration: 1s;
}

.active .icon {
  color: black;
}

.active .title_1 {
  color: black;
}

.navlink {
  color: whitesmoke;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: bold;
  display: flex;
  align-items: center;
  gap: 1rem;
}
